__pycache__/
*.pyc

.ipynb_checkpoints/

.vscode/

.env

Thumbs.db
.DS_Store

*.log

*.pbix
# Excel temporary files
~$*

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store